[Global]
NumItems=10
ItemHeight=1
EndTime=120
NumStartPos=4
[StartPos]
StartPos0X=5
StartPos0Z=-12
StartRot0Y=0
StartPos1X=12
StartPos1Z=1
StartRot1Y=270
StartPos2X=-2
StartPos2Z=9
StartRot2Y=180
StartPos3X=-9
StartPos3Z=-3
StartRot3Y=90
[Items]
Item0X=18
Item0Z=-13
Item0Delay=3
Item0Type=fall
Item0Image=bandanayellow.jpg
Item1X=-13
Item1Z=9
Item1Delay=5
Item1Type=fly
Item1Image=basketballblue.jpg
Item2X=-10
Item2Z=-2
Item2Delay=7
Item2Type=fall
Item2Image=bootyellow.jpg
Item3X=6
Item3Z=-2
Item3Delay=9
Item3Type=fly
Item3Image=bottlered.jpg
Item4X=17
Item4Z=-8
Item4Delay=11
Item4Type=fall
Item4Image=cloveryellow.jpg
Item5X=-2
Item5Z=-7
Item5Delay=13
Item5Type=fly
Item5Image=crownblue.jpg
Item6X=-15
Item6Z=-15
Item6Delay=15
Item6Type=fall
Item6Image=fireextinguishergreen.jpg
Item7X=6
Item7Z=18
Item7Delay=17
Item7Type=fly
Item7Image=guitarred.jpg
Item8X=14
Item8Z=6
Item8Delay=0
Item8Type=foil
Item8Image=hammergreen.jpg
Item9X=-2
Item9Z=10
Item9Delay=0
Item9Type=foil
Item9Image=icecubetrayred.jpg